@model CaffeineFix.Models.ProductViewModel

<div class="row">
    <div class="col-6">
        <img src="@Model.ImagePath" class="img-fluid img-thumbnail" />
    </div>
    <div class="col-6">
        <table class="table table-bordered">
            <tr>
                <td><b>Name</b></td>
                <td>@Model.ProductName</td>
            </tr>
            <tr>
                <td><b>Category</b></td>
                <td>@Model.ProductCategoryName</td>
            </tr>
            @if (Model.ProductCategoryName == "Coffee")
            {
                <tr>
                    <td><b>Roast Level</b></td>
                    <td>@Model.RoastLevelLabel</td>
                </tr>
            }
            else if (Model.ProductCategoryName == "Equipment")
            {
                <tr>
                    <td><b>Equipment Type</b></td>
                    <td>@Model.EquipmentTypeLabel</td>
                </tr>
            }
            else
            {
                <tr>
                    <td><b>Drinkware Type</b></td>
                    <td>@Model.DrinkwareTypeLabel</td>
                </tr>
            }
            <tr>
                <td><b>Price</b></td>
                <td>&#8369; @Model.Price</td>
            </tr>
            <tr>
                <td><b>Description</b></td>
                <td>@Model.Description</td>
            </tr>
        </table>
    </div>
</div>



